body{
	margin: 0;
	padding: 0;
	background-color:#64858d;
	background-size: cover;
	text-align: center;
}
.title h1 {
	
	font-size: 50px;
}
.cont h1{
	font-size: 40px;
	
	position: absolute;
	top: 8%;
	left: 8%;
	right: 8%;
}

.txtb{
    background-size: cover;
   
}
.txtb{
    text-align: center;
    color: rgb(209, 46, 95);
    padding: 20px 10px;
    
}

form {
	margin-top: 10%;
	transition: all 2s ease-in-out;
}


.form-control{
    
    width: 800px;
    margin: 16px 0;
	background: transparent;
	padding: 20px 40px;
	border: none;
	outline: none;
	border-bottom: 1px solid rgb(221, 205, 205);
	color: #fff;
	font-size: 40px; 
}

input
{
	height: 45px;
}

form .submit{
    float: right;
    border: 0;
    background-color: #34495e;
    color: #fff;
	padding: 0px 30px;
	width: 200px;
	height: 100px;
    border-radius: 35px;
    cursor: pointer;
    transition: 0.5s;
}
form .submit:hover{
    background: #2980b9;
}
