
*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
	}
body{
	background-color: rgb(93, 107, 117);
	width: 100%;
	height: auto;

}
nav{
	width: 100%;
	background: #4e4570;
	margin-top: 0%;
	margin-bottom: 0%;
	position: sticky;
	top: 0%;
	}
	.logo {
	line-height: 100px;
	float: left;
	color: aliceblue;
	font-family:'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
	text-transform: uppercase;
	text-shadow:  5px 8px 20px rgba(2,2,2,0.5);
	font-weight: normal;
	
	}
	.logo h4{
	padding-left: 10px;
	text-shadow:  5px 8px 20px rgba(2,2,2,0.5);
	font-size: 25px;
	
	}
	ul{
	
	text-align: right;
	width: auto;
	margin-right:5%;
	
	}
	ul li{
	font-family: 'Montserrat';
	display:inline-block;
	list-style: none;
	line-height: 100px;
	margin-left: 30px;
	}
	ul li a{
	
	text-decoration: none;
	color:white;
	font-size: 20px;
	font-weight:lighter;
	text-transform: uppercase;
	letter-spacing: 1px;
	}
	
	
	ul li a:hover{
	text-decoration: none;
	color:black;
	border: 1px solid white;
	transition: 0.3s;
	background: wheat;
	padding: 3px;
	border-radius: 25px;
	}
	.toggle{
	width: 100%;
	height: 50px;
	padding: 10px 20px;
	background: #4e4570;
	text-align: right;
	color:rgb(248, 223, 223);
	font-size: 25px;
	display:none;
	}
	
.content{
	width: 100%;
	display:inline-block;
	padding: 20px;
	}
	.branch{
		text-align: center;
	}
	.branch h1{
	text-align: center;
	text-transform: uppercase;
	width: 100%;
	padding: 2px;
	color: #dde4a3; 
	text-shadow:  5px 8px 20px rgba(2,2,2,0.5);
	}

	.foodmenu{
		color: rgb(68, 60, 15);
		background: wheat;   
		margin-top: 5%;
		width: 100%;

	 }
	.foodmenu h1{
text-align: center;

	}
	.details{
		width: 20%;
		display: inline-block;
		box-shadow: 2px 2px 20px black;
		border-radius: 5px; 
		padding: 2%;
		margin: 2%;
	}
	.image img{
		width: 100%;
		border: 2px solid white;
		border-radius: 2px;

		}
		
	.details h1{
	font-size: 20px;
	margin-bottom: 3px;
	text-transform: uppercase;
	text-align: left;
	color: #dde4a3; 
	border-bottom: 1px solid gray;
	text-shadow:  5px 8px 20px rgba(2,2,2,0.5);
	
	
	}
	.details p{
	font-size: 18px;
	text-align: justify;
	line-height: 25px;
	color: rgb(163, 141, 141);
	}
	.details a{
	text-decoration: none;
	color: #000;
	border: 1px solid black;
	border-radius: 25px;
	transition: 0.3s;
	padding: 2px;
	font-size: 15px;
	}
	.details a:hover{
	text-decoration: none;
	background: lightgoldenrodyellow;
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
	}
	.footer{
		text-align: center;
		background-color: rgba(216, 191, 216, 0.342);
		width: 100%;
		padding: 0;
	}
.footer i{
	margin: 3%;
	color: #000;	
	border: 1px solid black;
	border-radius: 25%;
	padding: 10px;
	transition: 0.3s;

} 
.footer i:hover{
background-color: rgba(255, 255, 255, 0.418);
}
#lic{
	text-align: center;
	font-size: 15px;
}
@media screen and (max-width:600px){

	.logo {
	line-height: 100px;
	float: left;
	}
	.logo h4{
	margin-top: -70px;
	margin-bottom: 0;
	padding-left: 10px;
	font-size: 15px;
	width: auto;
	}
	.toggle{
	display:block;
	}
	ul li{
	font-family: 'Montserrat', sans-serif;
	display: block;
	list-style: none;
	line-height: 100px;
	margin-left: 30px;
	}
	ul{
	width:auto;
	display: none;
	}
	li{
	display: block;
	text-align: right;
	}
	.active{
	display: block;
	}
	
.details img{
    height: 200px;
    width: 100%;
    border: 2px solid white;
    box-shadow:  5px 8px 20px rgba(2,2,2,0.5);
    }
    
    .details{
    width: 100%;
    }
}	